.product {
  width: 300px;
  height: 510px;
  box-sizing: border-box;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.img{
    margin: 7.5px;
}
.product img {
  width: 100%;
  border-radius: 8px;
}
.product-info {
  margin: 5px 14px;
}
.product-info p {
  margin-bottom: 0;
  margin-top: 8px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 7px;
}
.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-text{
    margin-right: 5px;
    font-size: 18px;
}
.btn-font{
    font-size: 25px;
}
.btn-cart:hover{
    background-color: orangered;
    color: whitesmoke;
}